	<footer class="footer static-bottom footer-dark footer-custom-class" data-midnight="default">
		<div class="container">
			<div class="footer-wrapper social-margin">
				<div class="row">
					<div class="col-md-6">
						<div class="about">
							<a class="title navbar-brand animated" data-animation="fadeInUpShorter" data-animation-delay="0.0s" href="https://secure-swap.com">
								<img src="assets/images/logo.png" alt="Logo">
								<span class="logo-text" data-i18n="footer-area.title1, <%= appName %>"><%= appName %> ICO</span>
							</a>
							<div class="about-text animated" data-animation="fadeInUpShorter" data-animation-delay="0.0s">
								<p class="grey-accent2" data-i18n="footer-area.desc, <%= appName %>"><%= appName %> is a distributed and decentralized platform that allows users to trade crypto-currencies, in a very secure ecosystem.</p>
							</div>
							<ul class="social-buttons list-unstyled mb-5">
								<li class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.1s">
									<a href="#" class="btn font-medium">
									
									<img src="assets/images/bct_w.png" 
									onmouseover="this.src='assets/images/bct_p.png'"
									onmouseout="this.src='assets/images/bct_w.png'"/>
									
									</a>
								</li>
								<li class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.1s">
									<a href="https://www.facebook.com/Secure-Swap-English-190713738543816/" target="_blank" class="btn font-medium socialfb"><i class="fab fa-facebook-f"></i></a>
								</li>
								<li class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.15s">
									<a href="https://twitter.com/SecureSwap" target="_blank" class="btn font-medium"><i class="fab fa-twitter"></i></a>
								</li>
								<li class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.20s">
									<a href="#" target="_blank" class="btn font-medium"><i class="fab fa-linkedin-in"></i></a>
								</li>
								<!--li class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.30s">
									<a href="#" target="_blank" class="btn font-medium"><i class="fab fa-pinterest-p"></i></a>
								</li-->
								<li class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.30s">
									<a href="#" target="_blank" class="btn font-medium"><i class="fab fa-slideshare"></i></a>
								</li>
								<li class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.30s">
									<a href="https://www.instagram.com/secureswap/" target="_blank" class="btn font-medium"><i class="fab fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="links">
							<h5 class="title animated" data-animation="fadeInUpShorter" data-animation-delay="0.0s" data-i18n="footer-area.title2">Useful Links</h5>
							<!--ul class="useful-links">
								<li class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.1s">
									<a href="#" data-i18n="footer.about, <%= appName %>">What is <%= appName %></a>
								</li>
								<li class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.15s">
									<a href="#" data-i18n="footer.problem">Solutions</a>
								</li>
								<li class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.20s">
									<a href="#" data-i18n="footer.whitepaper" >Whitepaper </a>
								</li>
							</ul-->
							<ul class="pt-3 useful-links">
								<li class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.25s">
									<a href="/privacy" data-i18n="footer.privatcy" >Privacy Policy</a>
								</li>
								<li class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.30s">
									<a href="/terms" data-i18n="footer.terms" >Terms &amp; Conditions</a>
								</li>
								<!--li class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.35s">
									<a href="#">If you are already subscribed, you can also unsubscribe from our mailing list easily.</a>
								</li-->
							</ul>

							<ul class="useful-links">
								<% if (dntSupport === 'true') { %>
									<div class="DNT-btn">
										<a href="/do-not-track" class="btn btn-sm animated pl-0" data-animation="fadeInLeftShorter" data-animation-delay="0.20s" >
											<i class="fas fa-eye-slash" aria-hidden="true"></i>&nbsp;
											<span data-i18n="footer-area.button.dnt">You're not being tracked</span>
										</a>
									</div>
								<% } %>
							<ul class="useful-links">

						</div>
					</div>
					<!--div class="col-md-4">
						<div class="feed">
							<h5 class="title animated" data-animation="fadeInUpShorter" data-animation-delay="0.0s" data-i18n="footer-area.title3">Twitter Feed</h5>
							<div class="tweets">
								<span class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.1s" data-i18n="footer.more1, <%= appName %>">More about our <%= appName %> project : <a href=\"https://t.co/JHBAS345\">https://t.co/JHBAS345</a></span>
								<span class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.15s" data-i18n="footer.more2, <%= tokenName %>">More information about <%= tokenName %> Token : <a href=\"https://t.co/JHSD34JHB\">https://t.co/JHSD34JHB</a></span>
							</div>
						</div>
						<% if (dntSupport === 'true') { %>
							<div class="DNT-btn">
								<a href="/do-not-track" class="btn btn-sm animated pl-0" data-animation="fadeInLeftShorter" data-animation-delay="0.20s" >
									<i class="fas fa-eye-slash" aria-hidden="true"></i>&nbsp;
									<span data-i18n="footer-area.button.dnt">You're not being tracked</span>
								</a>
							</div>
						<% } %>
					</div-->
				</div>
				<div class="row mt-2" >
					<div class="col-12 copy-right mx-auto text-center animated fadeInUp" data-animate="fadeInUp" data-delay="0.0s" >
						<span class="copyright">Copyright &copy; 2018, Grey Matter Technologies SpA. </span>
					</div>
					<div class="col-12 copy-right mx-auto text-center animated fadeInUp" data-animate="fadeInUp" data-delay="0.1s" >
						<span><small>All Rights are Reserved</small></span>
					</div>
				</div>
			</div>
		</div>
	</footer>
